@keyframes rotative {
    from {
        transform: rotate(0deg) scale(0.8);
    }

    to {
        transform: rotate(360deg) scale(0.8);
    }
}

@keyframes rotativeArrow {
    from {
        transform: rotate(0deg) scale(0.6);
    }

    to {
        transform: rotate(360deg) scale(0.6);
    }
}

@keyframes rotativeMobile {
    from {
        transform: rotate(0deg) scale(0.5);
    }

    to {
        transform: rotate(360deg) scale(0.5);
    }
}