@font-face {
    font-family: 'brown';
    src: url('../assets/fonts/Brown\ Sugar\ .ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../assets/fonts/Cormorant\ Garamond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}